nav {
  min-height: 5vh;
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-top: 10px;
 
button {
  margin-top: 10px;
  position: fixed;
  top: 0;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  
  padding: 0.5rem;
transition: all 0.3s ease;
&:hover{
  background: rgb(65,65,65);
  color: #fff;
}
}
}

@media screen and (max-width: 768px) {
  nav {
    button {
      z-index: 10;
    }
  }
}